# ***CLEAN UP TEXT***

We can clean up a text in different ways. The most common method is using regular exprexions. In python we can use `re` module.

https://docs.python.org/3/library/re.html

# Regular Expressions in Python
### Table of contents:
 **Regexp cheatsheet**
0. **sub()**
1. **match()**
2. **search()**
3. **findall()**
4. **finditer()**
5. **split()**
6. **Groups**

## The clean Up process is like to paint a picture, maybe 20% technique , maybe 80% creativity. You have to know what you want to obtain at the end of the process.

# Building Regular expresions 

## a) Simple regular expressions

###We put in braquets characters we want to match

e.g [L|l]it[t|z]le. 

Python help us with some funtions to use regular expressions.

Then, we replace any other character we want.

## b) Complex regular expression 
### We can define  GROUPS. 
A group is all the characters that match a regular expression defines in  parentheses. Each group defines a search pattern

   e.g. ([A-Z]+) ,([0-9]+[A-Z])
    
    The string is formed by a cero or more capital letters A-Z 
    followed by a white space and a coma followed by cero or more 
    figures and end in a capital letter.
    
    +
    Cero or more times
    [A-Z]
    Letters A,B.....Z
    [0-9]
    digit 0,1,...9

## c) **Regexp cheatsheet:**


**\d**

    Matches any decimal digit; this is equivalent to the class [0-9].
**\D**

    Matches any non-digit character; this is equivalent to the class [^0-9].
**\s**

    Matches any whitespace character; this is equivalent to the class [ \t\n\r\f\v].
**\S**

    Matches any non-whitespace character; this is equivalent to the class [^ \t\n\r\f\v].
**\w**

    Matches any alphanumeric character; this is equivalent to the class [a-zA-Z0-9_].
**\W**

    Matches any non-alphanumeric character; this is equivalent to the class [^a-zA-Z0-9_].
    \*	cero or more, similar to {0,}.

**\+**

    one or more, similar to {1,}.

**?**

    cero or one, similar to {0,1}.

**{n}**	

    Exactly the specified number of occurrences

**{n,}**

    At least the specified number of occurrences.

**{n,m}**	
    
    Al least n number of occurrences but not more than  m number of occurrences.

**\[\]**
    
    A set of characters	"[a-m]"	

**\\**

    Signals a special sequence (can also be used to escape special characters)	"\d"	

**.**	

    Any character (except newline character)	"he..o"	

**^**
    
    Starts with	"^hello"	
	
**|**	

    Either or	"falls|stays"	

**()**	

    Capture and group

https://docs.python.org/3/library/re.html

#CODE

In [1]:
import re

# 0. sub()
Searches for a substring and replaces it with another string

Then, we replace any other character we want.

### c) We can look for a pattern and replace it for another string

e.g. cero or more tabs replace by blank `r'\t+', ' '`

e.g. Carriage return replace by blank `r'\n', ''`

In [2]:
text="XXXXX largest Analytics community of India."

# Replacing a substring using sub()
result=re.sub('India', 'the World',text)
print(result)

XXXXX largest Analytics community of the World.

In [10]:
text = """http://gutember-project.org la 123.245.78.9 \n\n Call me Ishmael.% Some years ago—never mind how long precisely—having % littLe or no money in / my purse, and nothing particular to  -- interest me
  on    shore, I    thought I would sail about \n a little- Little litzle and % see the watery part
of the world.  NOTE ,999A  """

text = re.sub(r'%', '', text)
text = re.sub(r'/', '', text)
text = re.sub(r'-', '', text)

In [11]:
text

'http:gutemberproject.org la 123.245.78.9 \n\n Call me Ishmael. Some years ago—never mind how long precisely—having  littLe or no money in  my purse, and nothing particular to   interest me\n  on    shore, I    thought I would sail about \n a little Little litzle and  see the watery part\nof the world.  NOTE ,999A  '

In [5]:
text = re.sub(r'\n', '', text)

In [7]:
text = re.sub(r'\t+', ' ', text)
text = re.sub(r'\n{2,}', '', text)
text = re.sub(r' {2,}', ' ', text)
text

'http:gutemberproject.org la 123.245.78.9 Call me Ishmael. Some years ago—never mind how long precisely—having littLe or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little Little litzle and see the watery partof the world. NOTE ,999A '

Any sequence of two or more spaces should be converted into one space

Additionally, we can remove any carriage return

In [12]:
text = re.sub(r'\n', '', text)

In [13]:
text

'http:gutemberproject.org la 123.245.78.9  Call me Ishmael. Some years ago—never mind how long precisely—having  littLe or no money in  my purse, and nothing particular to   interest me  on    shore, I    thought I would sail about  a little Little litzle and  see the watery partof the world.  NOTE ,999A  '

# 1. match()
Checks for a match only at the beginning of the string

In [15]:
# Defining a string
string = " Tiger is the national animal of India. lives in Forest."

# Defining the pattern
pattern = "Tiger"

# Running match() on a string
result = re.match(pattern, string)

# Printing the result
print(result)
type(result)

None

NoneType

In [16]:
# Defining a string
string = "Tiger is the national animal of India.  lives in Forest."

# Defining the pattern
pattern = "Tiger"

# Extracting String from a match object
result = re.match(pattern, string).group()

# Printing the result
print(result)
type(result)

Tiger

str

In [17]:
string = "The national animal of India is Tiger. Tiger lives in Forest."
pattern = "Tiger"

# Checking for match
result = re.match(pattern, string)
print(result)

None

# 2. search()
Locates a sub-string matching the RegEx pattern anywhere in the string

In [18]:
string = "The national animal of is Tiger. Tiger lives in Forest."
pattern = "Tiger"

# Searching a substring using search()
result = re.search(pattern, string)
print(result)
type(result)

<re.Match object; span=(26, 31), match='Tiger'>

re.Match

In [19]:
string = "The national animal of India is Tiger. Tiger lives in Forest."
pattern = "Tiger"

# Extracting searched string
result = re.search(pattern, string).group()

print(result)
type(result)

Tiger

str

# 3. findall()
Finds all the sub-strings matching the RegEx pattern

In [20]:
string = "The national animal of India is Tiger. Tiger lives in Forest."
pattern = "Tiger"

# Using findall() on a string
result = re.findall(pattern, string)
print(result)

['Tiger', 'Tiger']

In [21]:
# Defining the string
text = "India got freedom on 15-08-1947, and it is celebrated as Independence Day.\
        Indian Constitution came into effect on 26-01-1950, and it is celebrated as Republic Day."

# Defining the pattern
date_pattern = r'\d{2}-\d{2}-\d{4}'

# Extracting dates using findall()
re.findall(date_pattern, text)

['15-08-1947', '26-01-1950']

In [22]:
# Defining the string
text = """http://gutember-project.org la 123.245.78.9  Call me Ishmael. Some years ago—never mind how long precisely—having % littLe or no money in / my purse, and nothing particular to  -- interest me
  on    shore, I    thought I would sail about a little Little litzle and see the watery part
of the world.  NOTE ,999A  """
# Defining the pattern
text_pattern = r'[L|l]it[t|z]le'    
#date_pattern = r'[Ll]it[tz]le'      
data=re.findall(text_pattern,text) 
data

['little', 'Little', 'litzle']

In [23]:
data1=re.findall("([A-Z]+) ,([0-9]+[A-Z])",text)
data1

[('NOTE', '999A')]

# 4. finditer()
Similar to findall() but returns an iterator

In [24]:
string = "The national animal of India is Tiger. Tiger lives in Forest."
pattern = "Tiger"

# Using finditer() on a string
result = re.finditer(pattern, string)
print(result)

<callable_iterator object at 0x7f4ef00edc50>

In [25]:
# Iterating over the iterator
for m in result:
    # Printing match object
    print(m)
    # Printing starting and ending index with matched substring
    print('Start:',m.start(),' End:',m.end(),' Sub-string:',m.group())

<re.Match object; span=(32, 37), match='Tiger'>
Start: 32  End: 37  Sub-string: Tiger
<re.Match object; span=(39, 44), match='Tiger'>
Start: 39  End: 44  Sub-string: Tiger

# 6. split()
Split the text by the given RegEx Pattern

In [26]:
line = "I have a big test tomorrow; I can't go out tonight."

# Splitting a string into multiple substrings
re.split(r'[;]', line)

['I have a big test tomorrow', " I can't go out tonight."]

# Some auxiliary functions

Let´s start removing the  whitespaces at the begining an the end of the sentence 
We will use **strip()*** method.

In [27]:
text1='   http:gutemberproject.org la 123.245.78.9 Call me Ishmael. Some years ago—never mind how long precisely—having littLe or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little Little litzle and see the watery partof the world. NOTE ,999A'

In [28]:
text1 = text.strip()

In [29]:
text1

'http://gutember-project.org la 123.245.78.9  Call me Ishmael. Some years ago—never mind how long precisely—having % littLe or no money in / my purse, and nothing particular to  -- interest me\n  on    shore, I    thought I would sail about a little Little litzle and see the watery part\nof the world.  NOTE ,999A'

# Building our own Clean up text function !!

In [61]:
def clean_text(string1):
    output = string1.strip()
    replacements = (
      ("“", ''), ("”", ''), ("//", ""), ("«", ''), ("»", ''), (",", ''),
      (";", ''), (".", ''),
    )
    for replacement in replacements:
        print(replacement)
        output = output.replace(*replacement)
    # Any sequence of two or more spaces should be converted into one space
    output = re.sub(r'\t+', ' ', output)
    output = re.sub(r'\n{2,}', '', output)
    output = re.sub(r' {2,}', ' ', output)  
    output = re.sub(r'\n', ' ', output)
    return output.strip()

In [55]:
replacements = (
      ("“", ''), ("”", ''), ("//", ""), ("«", ''), ("»", ''), (",", ''),
      (";", ''), (".", ''),
)
type(replacements)

tuple

In [62]:
text = clean_text(text)

('“', '')
('”', '')
('//', '')
('«', '')
('»', '')
(',', '')
(';', '')
('.', '')

In [ ]:
text

'http:gutemberprojectorg la 123245789 Call me Ishmael Some years ago—never mind how long precisely—having littLe or no money in my purse and nothing particular to interest me  on shore I thought I would sail about   a little Little litzle and see the watery part of the world NOTE 999A'

# EXERCISE 1
Design a Regular expresion to detect a URL.

In [76]:
#CHECK https://regex101.com/

text =""" http://gutember-project.org/3 la 123.245.78.9  Call me Ishmael. Some years ago—never mind how long precisely—having % littLe or no money in / my purse, 
and nothing particular to  -- interest me on    shore, I    thought I would sail about a little Little litzle and see the watery part of the world.  NOTE ,999A"""


URL_pattern = r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?'

data1=re.findall(URL_pattern,text)
print(data1)

[('http', 'gutember-project.org', '/3')]

# EXERCISE 2
Complete the clean text function to take into account

    a)\n
    b) /
    c)%
    d) two o more -

In [77]:
def clean_text(string1):
    output = string1.strip()
    replacements = (
      ("“", ''), ("”", ''), ("//", ""), ("«", ''), ("»", ''), (",", ''),
      (";", ''), (".", ''), ("_ _ _ ", ''), ("_ _ _ _ ", ''), ("_ _ _ _ _",''),
    )
    for replacement in replacements:
        output = output.replace(*replacement)
    # Any sequence of two or more spaces should be converted into one space
    output = re.sub(r'\t+', ' ', output)
    output = re.sub(r'\n{2,}', '', output)
    output = re.sub(r' {2,}', ' ', output)
    output = re.sub(r'-{2,}', '', output)    
    output = re.sub(r'_ _ _', '', output)     
    return output.strip()

# 7. Groups

In [78]:
# Running a simple pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

pattern="[\w]+ [\w]+ \$[\d,]+ [a-zA-z ]+ \d{2}-\d{2}-\d{4}"

result=re.findall(pattern,string)

print(result)
type(result)

['Ajay credited $500 to your account on 13-08-2020', 'Anmol debited $1,700 from your account on 14-08-2020', 'Alex debited $100 on 16-08-2020']

list

In [79]:
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

# Creating groups in the previous pattern
pattern="([\w]+) ([\w]+) (\$[\d,]+) [a-zA-z ]+ (\d{2}-\d{2}-\d{4})"

result=re.findall(pattern,string)

print(result)
type(result)

[('Ajay', 'credited', '$500', '13-08-2020'), ('Anmol', 'debited', '$1,700', '14-08-2020'), ('Alex', 'debited', '$100', '16-08-2020')]

list

In [ ]:
import pandas as pd

# Creating a dataframe
df=pd.DataFrame(result,columns=['Name','Type','Amount','Date'])
df

    Name      Type  Amount        Date
0   Ajay  credited    $500  13-08-2020
1  Anmol   debited  $1,700  14-08-2020
2   Alex   debited    $100  16-08-2020

In [ ]:
# Using finditer() for getting match objects
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

pattern="([\w]+) ([\w]+) (\$[\d,]+) ([a-zA-z ]+) (\d{2}-\d{2}-\d{4})"

result=re.finditer(pattern,string)

# Accessing groups separately
for i in result:
    print(i.group(0),'=>',i.group(1),'=>',i.group(2),'=>',i.group(3),'=>',i.group(4),'=>',i.group(5) )
    print(i.start(0),'=>',i.end(0), i.start(1),'=>',i.end(1))

Ajay credited $500 to your account on 13-08-2020 => Ajay => credited => $500 => to your account on => 13-08-2020
0 => 48 0 => 4
Anmol debited $1,700 from your account on 14-08-2020 => Anmol => debited => $1,700 => from your account on => 14-08-2020
55 => 107 55 => 60
Alex debited $100 on 16-08-2020 => Alex => debited => $100 => on => 16-08-2020
114 => 145 114 => 118

**Note:** Syntax for naming groups: `(?P<Group Name>Pattern)`

In [ ]:
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

# Naming Groups
pattern="(?P<Name>[\w]+) (?P<Type>[\w]+) (?P<Amount>\$[\d,]+) [a-zA-z ]+ (?P<Date>\d{2}-\d{2}-\d{4})"
result=re.finditer(pattern,string)

#result=list(re.finditer(pattern,string))

In [ ]:
# Accessing data by group names
for i in result:
    print(i.group('Name'),'=>',i.group('Amount'),'=>',i.group('Date'),'=>',i.group('Type'))

Ajay => $500 => 13-08-2020 => credited
Anmol => $1,700 => 14-08-2020 => debited
Alex => $100 => 16-08-2020 => debited

In [60]:
a = (1,2,39)
b = (3,4,5)
c1 = [*a,*b]
c2 = [a,b]
print(*c2)
print(f"c1:{c1}\n c2:{c2}")

(1, 2, 39) (3, 4, 5)
c1:[1, 2, 39, 3, 4, 5]
 c2:[(1, 2, 39), (3, 4, 5)]