# Python Introduction 
1.Data Structures

    a) List
    
    b) Tuplas
    
    c) Dictionary

## Data Structures

We have three useful data structures, especially for Digital Humanities. 
- List
- Tuplas
- Dicctionary

### List

It is a ordered collection of elements.

In [1]:
color=['red','blue','green','black']
type(color)

list

In [2]:
# a List can have different types of elements
mix=['Peter',1,True,'Robert',36,False,'Anna',33,'Casper',11]
type(mix)

list

In [3]:
#Nested lists
nested=[1,['a','b'],True,[False,'chain',33]]
type(nested)

list

Function  **len()** number of elements in a list

In [4]:
print ("Mix list has {0} elements. Color list has {1} elements".format(len(mix),len(color)))

Mix list has 10 elements. Color list has 4 elements

To reference an element of the list we use **name_list[index]** P. The list start in cero. We use the index in brackets

In [5]:
print (color[2])
print (nested[1][1])
print (nested[3])

green
b
[False, 'chain', 33]

I tis possible to use negative index. In this case we are refering to the postions of the list from the left. So ** -1 ** is the last position.
In color list 

|red|blue|green|black|
|:---:|:---:|:---:|:---:|
|0|1|2|3|
| -4|-3|-2|-1|

In [6]:
# Refers to the penultimate element
print (color[-2])
#Select all elements from  -3 until the 0 position;
print (color[:-3])
#Select all elements from -3 until the last position; 
print (color[-3:])

green
['red']
['blue', 'green', 'black']

**Slicing**
It is possible to select a subrange of the list **[start:end]**
That selects the elementin the start position to the element **before the end position.**

In [8]:
#Two central elements
print (color[1:3])
#dFrom second (postion 1) to the end
print (color[1:])
#All of them
print (color[:])
print (color[0])

['blue', 'green']
['blue', 'green', 'black']
['red', 'blue', 'green', 'black']
red

It is possible to add a new element at the end **+**,
or delete an element using function **del()**.

In [9]:
#Add pink to the color list
color=color+["pink"]
print (color)

['red', 'blue', 'green', 'black', 'pink']

In [10]:
del(color[2])
print(color)

['red', 'blue', 'black', 'pink']

Operator **"*"** repeat the list.

In [11]:
a=color*3
type(a)
a

['red',
 'blue',
 'black',
 'pink',
 'red',
 'blue',
 'black',
 'pink',
 'red',
 'blue',
 'black',
 'pink']

In [12]:
#Delete 
del color[2]
print (color)

['red', 'blue', 'pink']

List funtions

|Function |Description | Example |
|---|----------------------------|---|
|l.append(element)| Add an element to the end of the list . |`[1,2,3].append(4) #output [1,2,3,4]`|
|l.insert(index, element)| Add an element in the index position  . |`[2,4,6].append(3,1) #output [2,3,4,6]`|
|l.index(element)| Loof for an element in the list and return its index. |`[2,4,6].index(6) #output 2`|
|l.remove(element) | Delete an element of the list . |`[2,4,6].remove(4) #output[2,6]`|
|l.sort() | Order the list | `[4,2,8,6].sort() #output [2,4,6,8]`|
|l.reverse() | Reverse the list  | `[2,4,6].reverse() #output [6,4,2]`|
|l.pop(indice) | Delete  and return the element in the index position| `[2,4,6].pop(1) #output 4, the list remains as [2,6]`|

A string is considered as a list of characters.

Operators **in** y **not in** to check if an element is in the list or not. Boolean.

In [ ]:
"red" in color

True

In [ ]:
"margent" in color

False

### Tuple

A kind of list.

    a) It is defined using **()**.
    b) It is inmutable
    c) A tuple with only one data needs a coma **,**

In [13]:
week=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
print (type(week))
print ("Today is  {0}".format(week[1]))

It_is_not_tuple=(1)
print (type(It_is_not_tuple))

It_is_tuple=(1,)
print (type(It_is_tuple))

print ("work_week: {0}".format(week[0:4]))

<class 'tuple'>
Today is  Tuesday
<class 'int'>
<class 'tuple'>
work_week: ('Monday', 'Tuesday', 'Wednesday', 'Thursday')

In [14]:
#Inmutable
week[0] = "TODAY"
#color[0]='greeen'
#color

TypeError: ignored

 We can use  + operator and function  **len()**.

In [15]:
New_tuple = week + It_is_tuple
print(New_tuple)
len(New_tuple)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 1)

8

### Dictionary

it is a collection of value-key pairs or associative matrix. 

    - To define a dictionary we use curly braces **{}**
    - key values have to be simple data or tuples.
    - Values can be whatever other data type
    - To acces to a data , we will use the key as an index
    - To add new element , we need a pair key-value

In [16]:
dictionary= {"Spain": 'Sevilla', 'France': "Paris", 'UK': 'London','Ireland':'Dublin','Italy':'Rome'}
print (type(dictionary))

<class 'dict'>

In [17]:
#Get a Value
print (dictionary['France'])
#Add new element
dictionary['Germany']='Berlin'
print (dictionary)
#Update
dictionary['Spain']='Madrid'
print (dictionary)

Paris
{'Spain': 'Sevilla', 'France': 'Paris', 'UK': 'London', 'Ireland': 'Dublin', 'Italy': 'Rome', 'Germany': 'Berlin'}
{'Spain': 'Madrid', 'France': 'Paris', 'UK': 'London', 'Ireland': 'Dublin', 'Italy': 'Rome', 'Germany': 'Berlin'}

The most important methods ( functions) to deal with dictionaries are  

- **d.keys()** return a list with the keys of the list  
- **d.items()** return a  value-keys list. Each element is a tuple.
- **d.values()** return a list with the values of the list

In [18]:
print (dictionary.keys())
print (dictionary.items())
print (dictionary.values())

dict_keys(['Spain', 'France', 'UK', 'Ireland', 'Italy', 'Germany'])
dict_items([('Spain', 'Madrid'), ('France', 'Paris'), ('UK', 'London'), ('Ireland', 'Dublin'), ('Italy', 'Rome'), ('Germany', 'Berlin')])
dict_values(['Madrid', 'Paris', 'London', 'Dublin', 'Rome', 'Berlin'])

### Other Operators
 **in** Operator . If a key is in the dictioanry

In [19]:
"France" in dictionary

True

*Delete* a key-value pair using **del** operator

In [20]:
del dictionary["France"]
"France" in dictionary

False

# EXERCISES

1.- Below are the two lists convert it into the dictionary
Clue: two funtions dict and zip.

https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [23]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [27]:
sampleDict = ____(____(keys, values)))
print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
<zip object at 0x7ff6c0a89d20>

2.- Merge following two Python dictionaries into one
Two methods; **, update

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict3 = {___dict1, ___dict2}
print(dict3)